
.skills-exp{
    display:flex;
    width:100%;
    overflow:hidden;
    font-weight:bold;
}
.left-half{
    min-height:100%;
    flex:1;
    padding:5px;
}
.right-half{
    height:100%;
    flex:1;
}
@media only screen and (max-width: 1200px) {
    .skills-exp{
        display:block;
        width:100%;
        overflow:hidden;
    }

  }