.navbar-container{
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background:white;
    height:75px;
    transition: top 0.6s;    
}

nav {
    order: 1;
    overflow:hidden;
}
.nav-links a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #2b2b2b;
    text-decoration: none;
    font-size: 125%;
    font-weight: bold;
    overflow:hidden;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 16px;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}
.no-show-bar{
    top:-75px;
}
.show-bar{
    height:75px;
}
.topShow{
    height:75px;
    background-color: #FFF;
}
.contact-modal{
    width:50%

}