/* #navbar-container{
  position: fixed;
  top:0;
  margin:0;
  width:100%;
  transition: all .75s ease;
  overflow: hidden;
}
#navbar{
  overflow: hidden;
}
li{
  float:right;
}
li a{
  display: block;
  color: #c9af98;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: gray;
}

ul {
  list-style-type: none;
  background-color: White;
}


.no-show-bar{
  height:0;
}
.show-bar{
  height:75px;
}
.topShow{
  height:75px;
  background-color: #FFF;
} */