.project-board{
}
.project-box{
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
    border-radius:25px;
    width:80%;
    background: rgb(252,218,218);
    background: linear-gradient(180deg, rgba(252,218,218,1) 0%, rgba(190,250,255,1) 100%);
    padding:2%;
}
.project-title{
    text-align:center;
}
.project-pic{
    width:80%;
    display:block;
    margin: 0 auto;
    margin-top:50px;
}
.project-body{
    padding:3%;
}