@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.timeline-container{
    font-family: 'Roboto', sans-serif;
    display:flex;
    width:100%;
}
.left-container{
    height:100%;
    padding:0;
    flex:10;
    padding:10px;
}
.mid-container{
    flex:1;
    width: 60%;
    text-align:center;
    height:100%;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: #DBABBE;
    border-radius: 50%;  
    margin:0 auto;
}
span.middleLine{
    display:inline-block;
    border-right: 2px solid;
    border-color:#999999;
    margin-left:-1px; /* cause the border is 2px */
    height:100%;
}

.right-container{
    height:100%;
    flex:10;
    padding:10px;
}
.timeline-content{
    height:100%;
    width:100%;
    border:solid;
    border-width:3px;
    border-radius:10px;
    text-align:center;
    padding:10px;
    font-weight:bold;
}
.experience-title{
    color: gray;
    font-weight:bold;
    font-size:1.5em
}
.timeline-content-text{
    padding:10px;
    text-align: left;
    font-size:1.2em;
}

